/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 78rem; // 780px
    margin-right: auto;
    margin-left: auto;
    padding-top: 8rem; // 80px
    padding-right: 2rem; // 10px
    padding-left: 2rem; // 10px
}
