/* ==========================================================================
   Tip
   ========================================================================== */

.c-tag {
    margin-right: 1rem;
    position: relative;
    white-space: nowrap;
    @include fs--body;
    color: $c-heading;

    &:before {
        color: $c-meta;
        content: '#\2009';
    }
}
